<h1 class="h1style mb-5rem fw-bold">お問い合わせ（完了）</h1>

<div class="wrap">
  <div class="contact-content">
    <h3 class="contact-title text-center fw-bold">送信が完了いたしました。</h3>
    <p>ご利用、ありがとうございました。</p>
  </div>
</div>
