@use '@/stylesheets/application';
@import 'main.scss';



  @media (max-width: 320px) {
    .list-inline-item:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
  

.admin-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.top-dropdown-padding {
  --bs-dropdown-padding-x: initial;
  --bs-dropdown-padding-y: initial;
}

@media (max-width: 576px) {
  .Headersub {
    margin-top: 8px;
  }
}


.dropdown-toggle { outline: 0; }

#sidebar-toggle-button {
  display: inline-block;
}

.btn-toggle {
  padding: .25rem .5rem;
  font-weight: 600;
  color: var(--bs-emphasis-color);
  background-color: transparent;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: var(--bs-emphasis-color);
  background-color: var(--bs-tertiary-bg);
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
}

[data-bs-theme="dark"] .btn-toggle::before {
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(var(--bs-emphasis-color-rgb), .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: var(--bs-tertiary-bg);
}

@media (max-width: 576px) {
  .btn-sm, .btn-group-sm > .btn {
    --bs-btn-padding-y: 0.25rem;
    --bs-btn-padding-x: 0.5rem;
    --bs-btn-font-size: 0.5rem;
    --bs-btn-border-radius: var(--bs-border-radius-sm);
  }
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  padding: 55px 0 0;
  z-index: 900;
}
 
@media (max-width: 767.98px) {
  .sidebar {
    top: 11.5rem;
    padding: 0;
  }
}
@media (min-width: 767.98px) {
  .navbar {
    top: 0;
    position: sticky;
    z-index: 999;
  }
}
@media (min-width: 576px) {
  .ml-sm-auto {
    margin-left: auto!important;
  }
}


.main-top {
  margin-top: 58px;
}


@media (max-width: 576px) {
  .mobile-text {
    font-size: 14px;
  }
}

.form-check {
  margin-top: 0.125rem;
}


@media (max-width: 576px) {
  .table td, .table th {
    font-size: 8px;
    padding: 8px;
  }
}

.custom-breadcrumb {
  background-color: #e9ecef;
  color: #6c757d;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
}

.top-alert-margin-bottom {
  --bs-alert-margin-bottom: initial;
}

.mb-5rem {
  margin-bottom: 5rem;
}

@media (max-width: 767px) {
  .mobile-title {
    margin-bottom: 1rem;
  }
}

@media (max-width: 1320px) {
  .mobile-title {
    margin-bottom: 1.5rem;
  }
}

.article-wrap {
  padding: 0 80px;
}

.news-date {
  padding-top: 16px;
  font-size: 1.25rem;
}

@media (max-width: 576px) {
  .news-date {
    font-size: 1rem;
  }
}

.newsHeaderbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #999;
  border-bottom: 2px dotted #999;
  padding: 0 12px;
}

@media screen and (max-width: 768px){
  .newsHeaderbox {
    flex-wrap: wrap;
  }
}

.newsHeaderbox h1 {
  font-size: 32px;
  line-height: 1.25;
  padding: 20px 0;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .newsHeaderbox h1 {
    width: 100%;
    font-size: 24px;
    padding: 20px 0 0;
  }
}

.newsHeaderbox ul {
  padding: 0px;
  margin: 0px;
}

.newsContentbox {
  margin-top: 60px;
}

.article-card {
  border: solid 1px #cccccc;
}

.article-image {
  position: relative;
  overflow: hidden;
}

.article-image:hover::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(200, 200, 200, 0.3);
  pointer-events: none;
}

.article-image:hover {
  background-color: transparent;
}

.default-article-image {
  width: 494px;
  height: 228px;
}

@media screen and (max-width: 576px){
  .default-article-image {
    width: 242px;
    height: 111px;
  }
}

.article-info {
  padding: 20px 22px;
  min-height: 112px;
}

@media (max-width: 576px) {
  .article-info {
    padding: 12px 16px;
  }
}

.article-title {
  font-size: 18px;
}

.article-category {
  font-size: 13px;
  margin-top: 3rem;
}

.article-show-image {
  margin: 8px 0px;
  text-align: center;
}

.article-image img {
  display: inline-block;
}

.articleHeaderbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #999;
  border-bottom: 2px dotted #999;
  padding: 0 12px;
}

@media screen and (max-width: 768px){
  .articleHeaderbox {
    flex-wrap: wrap;
  }
}


.articleHeaderbox h1 {
  font-size: 32px;
  line-height: 1.25;
  padding: 20px 0;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .articleHeaderbox h1 {
    width: 100%;
    font-size: 24px;
    padding: 20px 0 0;
  }
}

.articleContentbox {
  margin-top: 60px;
}

.articleContentbox p {
  margin: 22px 0px;
  font-size: 18px;
}

.shop-info dt {
  font-weight: bold;
  vertical-align: top;
}

.shop-info dd {
  margin-bottom: 1em;
}

@media (min-width: 480px){
  .shop-info dt {
    display: inline-block;
    width: 30%;
  }
}

@media (min-width: 480px){
  .shop-info dd {
    display: inline-block;
    width: 65%;
    margin-left: 15px;
  }
}

.shop-title {
  flex: 1 1 auto;
  font-size: 18px;
}

@media (max-width: 576px){
  .shop-title {
    font-size: 14px;
  }
}

.contact-search-select {
  margin-right: 1.5rem;
}

@media (max-width: 1085px){
  .contact-search-select {
    margin-bottom: 0.5rem;
    margin-right: 1.5rem;
  }
}

@media (max-width: 767px){
  .contact-search-select {
    margin-bottom: 0.5rem;
    margin-right: 0;
  }
}

.contact-search-form {
  margin: 0;
}

@media (max-width: 1085px){
  .contact-search-form {
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 767px){
  .contact-search-form {
    margin: 0;
  }
}

@media (max-width: 767px){
  .search-form-box {
    width: 100%;
  }
}

.job-entry-search-select {
  margin-right: 1.5rem;
}

@media (max-width: 1085px){
  .job-entry-search-select {
    margin-bottom: 0.5rem;
    margin-right: 1.5rem;
  }
}

@media (max-width: 767px){
  .job-entry-search-select {
    margin-bottom: 0.5rem;
    margin-right: 0;
  }
}

.job-entry-search-form {
  margin-right: 1.5rem;
}

@media (max-width: 1085px){
  .job-entry-search-form {
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 1024px){
  .job-entry-search-form {
    margin: 0;
  }
}

.news-search-select {
  margin-right: 1.5rem;
}

@media (max-width: 1085px){
  .news-search-select {
    margin-bottom: 0.5rem;
    margin-right: 1.5rem;
  }
}

@media (max-width: 576px){
  .news-search-select {
    margin-bottom: 0.5rem;
    margin-right: 0;
  }
}

.news-search-form {
  margin: 0;
}

@media (max-width: 1085px){
  .news-search-form {
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 576px){
  .news-search-form {
    margin: 0;
  }
}

@media (max-width: 576px){
  .news-search-form-box {
    width: 100%;
  }
}

.article-search-select {
  margin-right: 1.5rem;
}

@media (max-width: 1085px){
  .article-search-select {
    margin-bottom: 0.5rem;
    margin-right: 1.5rem;
  }
}

@media (max-width: 576px){
  .article-search-select {
    margin-bottom: 0.5rem;
    margin-right: 0;
  }
}

.article-search-form {
  margin: 0;
}

@media (max-width: 1085px){
  .article-search-form {
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 576px){
  .article-search-form {
    margin: 0;
  }
}

@media (max-width: 576px){
  .article-search-form-box {
    width: 100%;
  }
}
