@use '@/stylesheets/application';

h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

em {
  font-style: normal;
}

.form-control::placeholder {
  color: #aaa;
}

.pagination {
  justify-content: center;
}

@media (max-width: 1320px) {
  .mobile-block {
    display: block !important;
  }
}

@media (max-width: 599px) {
  .mobile-news-block {
    display: block !important;
  }
}

@media (max-width: 576px) {
  .mobile-gutter {
    --bs-gutter-x: 0;
  }
}

@media (max-width: 576px) {
  .mobile-card-border {
    --bs-card-border-width: 0
  }
}


@media (max-width: 576px) {
  .mobile-disable-text-end {
      text-align: initial !important;
  }
}

@media (max-width: 576px) {
  .mobile-p-3 {
    padding: 1rem !important;
  }
}

@media (max-width: 576px) {
  .mobile-mx-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}

@media (max-width: 576px) {
  .mobile-ml-0 {
    margin-left: 0 !important;
  }
}

@media (max-width: 576px) {
  .mobile-text-center {
    text-align: center !important;
  }
}


.top-alert-margin-bottom {
  --bs-alert-margin-bottom: initial;
}


.mb-5rem {
  margin-bottom: 5rem;
}

@media (max-width: 576px) {
  .mobile-p-0 {
    padding: 0 !important;
  }
}

@media (max-width: 1024px) {
  .mobile-full-width {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .mobile-news-full-width {
    width: 100%;
  }
}

@media (max-width: 1085px) {
  .mobile-btn-full-width {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .mobile-news-btn-full-width {
    width: 100%;
  }
}

