@use '@/stylesheets/application';

li {
  list-style: none;
}

em {
  font-style: normal;
}

.form-control::placeholder {
  color: #aaa;
}

.pagination {
  justify-content: center;
}

@media (max-width: 576px) {
  .mobile-block {
    display: block !important;
  }
}

@media (max-width: 576px) {
  .mobile-gutter {
    --bs-gutter-x: 0;
  }
}

@media (max-width: 576px) {
  .mobile-card-border {
    --bs-card-border-width: 0
  }
}


@media (max-width: 576px) {
  .mobile-disable-text-end {
      text-align: initial !important;
  }
}

@media (max-width: 576px) {
  .mobile-p-3 {
    padding: 1rem !important;
  }
}

@media (max-width: 576px) {
  .mobile-mx-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}

@media (max-width: 576px) {
  .mobile-ml-0 {
    margin-left: 0 !important;
  }
}

@media (max-width: 576px) {
  .mobile-text-center {
    text-align: center !important;
  }
}


.top-alert-margin-bottom {
  --bs-alert-margin-bottom: initial;
}


.mb-5rem {
  margin-bottom: 5rem;
}
