@use '@/stylesheets/application';
@import 'main.scss';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');


h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  border: 0;
  outline: 0;
  vertical-align: baseline;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #2C2C2C;
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.title-img {
  max-width: 100%;
}

.alert-text {
  color: #D32600;
}

.default-text {
  color: #2C2C2C;
}

.sm-display,
.header-sm-display {
  display: none;
}

.display {
  display: block;
}

.reverse-flex {
  flex-direction: row-reverse ;
}

@media screen and (max-width: 767px) {
  .sm-img {
    width: 100%;
    height: auto;
  }
}

.sm-max-img {
  max-width: 100%;
  height: auto;
}

.error-icon {
  margin-right: 5px;
}

.page-link.active, .active > .page-link {
  z-index: initial;
  color: initial;
  background-color: #D9D9D9;
  border-color: initial;
}

.page-link:hover {
  color: #D32600;
  background-color: transparent;
}

.user-btn {
  border-radius: 4px;
  border: none;
}

@media screen and (max-width: 767px) {
  .d-flex {
    display: block !important;
  }

  .d-block {
    display: flex !important;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .sm-display {
    display: block;
  }

  .display {
    display: none;
  }

  .user-btn {
    font-size: 16px !important;
  }

  .pagination {
    margin: 20px 0  0!important;
  }

  .pagination .page-link {
    font-size: 14px !important;
    padding: 3px 10px !important;
  }
}

.btn-toggle {
  padding: .25rem .5rem;
  font-weight: 600;
  color: var(--bs-emphasis-color);
  background-color: transparent;
}

.btn-toggle:hover,
.btn-toggle:focus {
  color: #D32600;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(var(--bs-emphasis-color-rgb), .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.drop-top-line {
  border-top: 1px solid #000;
}

@media (min-width: 767px) {
  .drop-bottom-line {
    border-bottom: 1px solid #000;
  }
}


.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #f03c02;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #fd541e;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

.pagination {
  --bs-pagination-border-width: initial;
  --bs-pagination-bg: initial;
  position: relative;
  margin: 40px;
  text-align: center;
  font-family: "Ubuntu";
  font-size: 18px;
  line-height: 1;
  color: #000;
}

.pagination a {
  color: inherit;
  text-decoration: none;
}

.contents {
  padding-top: 100px;
}

@media screen and (max-width: 1189px) {
  .contents {
    padding-top: 125px;
  }
}

@media screen and (max-width: 991px) {
  .contents {
    padding-top: 83px;
  }
}

@media screen and (max-width: 767px) {
  .contents {
    padding-top: 70px;
  }
}


.form-wrap {
  width: 100%;
}

.form-content {
  max-width: 800px;
  margin: 100px auto;
  border: 1px solid #D3D3D3;
  box-shadow: 4px 4px 4px 0px #00000040;
  padding: 40px 0;
}


.form-title {
  margin-bottom: 50px;
  text-align: center;
}

.form-title-img {
  margin: auto;
  height: 34px;
}

.form-title2 {
  margin-bottom: 15px;
  margin-top: 50px;
}

.form-subtitle {
  margin-bottom: 25px;
  color: #D32600;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
}

@media (max-width: 767px){
  .form-title {
    margin-bottom: 25px;
  }

  .form-title2 {
    margin-bottom: 25px;
    margin-top: 30px;
  }
}

@media (max-width: 767px){
  .form-subtitle {
    margin: 0 20px 15px;
  }

  .form-title-img {
    margin: auto;
    height: 24px;
  }
}

.form-attention-text {
  margin: 0 40px 30px;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
}

.form-text,
.form-box a {
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
  color: #2C2C2C;
}

.form-box li {
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
}


.form-box {
  max-width: 350px;
  margin: 0 auto;
}


.form-btn-box li:hover {
  opacity: 0.75;
}


.form {
  margin-bottom: 20px;
}

.form-link,
.form-fix-link,
.form-link-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.form-link,
.form-link-box {
  margin-top: 50px;
}

.icon-container {
  position: absolute;
  right: 60px;
  color: #FFFFFF;
  font-size: 18px;
}

.confirm-icon {
  right: 20px;
  top: 17px;
}

.form-fix-link:hover .confirm-icon {
  right: 15px;
}

.form-link:hover .icon-container {
  right: 55px;
}

.fix-box {
  margin-right: 15px;
}

@media screen and (max-width: 767px) {
  .icon-container {
    position: absolute;
    right: 30px;
    color: #FFFFFF;
    font-size: 18px;
  }

  .confirm-icon {
    right: 20px;
  }

  .form-link:hover .icon-container,
  .form-fix-link:hover .icon-container {
    right: 20px;
  }

  .fix-box {
    margin: 0 0 10px;
  }

  .form-fix-link:hover .confirm-icon {
    right: 15px;
  }

  .form-link-box {
    padding: 0 15px;
  }
}

.form-border {
  border-bottom: 1px solid #D3D3D3;
}

.form-margin-left {
  margin-left: 10px;
}

.form-flex {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}


@media screen and (max-width: 767px) {
  .form-content {
    max-width: none;
    margin: 20px 20px;
  }

  .form-box {
    padding: 0 15px;;
  }

  .form-attention-text {
    margin: 0 15px 20px;
    font-size: 14px;
  }
  
  .form-text,
  .form-box a {
    font-size: 14px;
  }
  
  .form-box li {
    font-size: 14px;
  }

  .form-title {
    margin-left: 15px;
    margin-right: 15px;
  }
}


.badge-alert {
  background-color: #FF7009;
  color: #FFFFFF;
}

.badge {
  font-size: 10px;
  font-weight: 500;
}

.content-info {
  border-bottom: 1px solid #999;
}

.section-title-box {
  width: 100%;
  height: 273px;
  background-image: url('/assets/section-image.png');
  background-size: cover;
  display: flex;
  align-items: center;
}

.section-title {
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 900;
  margin-left: 97px;
}

@media screen and (max-width: 991px) {
  .section-title-box {
    width: 100%;
    height: 150px;
    background-size: cover;
  }

  .section-title {
    font-size: 24px;
    font-weight: 700;
    margin-left: 25px;
  }
}


/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 767px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  z-index: 997;
  background: #fff;
  padding: 23px 97px;
  font-size: 18px;
  font-weight: 500;
  color: #4B4B4B;
}

@media screen and (max-width: 1277px){
  .header {
    padding: 23px 53px;
  }
}

@media screen and (max-width: 991px){
  .header {
    padding: 0;
  }
}

.button {
  display: inline-block;
  margin-right: 15px;
}


.icon-png {
  width: 291px;
  height: 53px;
}

@media screen and (max-width: 767px) {
  .icon-png {
    width: 173px;
    height: 40px;
  }
}

@media screen and (max-width: 991px){
  .header-sm {
    padding: 15px 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-sm-display {
    display: block;
  }
}

.scrolled-offset {
  margin-top: 70px;
}

@media (max-width: 1024px) {
  .header-mobile-text {
    font-size: 24px !important;
  }
}

@media (max-width: 767px) {
  .header-mobile-text {
    font-size: 20px !important;
  }
}

.recruit-drop .dropdown-menu {
  top: 60px;
  padding: 0;
  border-radius: initial !important;
  text-align: center;
}

@media (max-width: 991px) {
  .header-linklist {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%; 
    height: 100%;
    background-color: #FFFFFF;
    z-index: 999;
    transition: right 0.3s ease;
    overflow-y: auto;
  }

  .show {
    right: 0;
  }

  .navbar-nav.ms-auto {
    margin-top: 90px;
  }

  #toggle-nav {
    display: none;
  
    &:checked {
      ~ .hamburger {
    
        div {
          
          &:nth-of-type(1) {
            margin-top: 6px;
            transform: rotate(135deg);
          }
          &:nth-of-type(2) {
            opacity: 0;
          }
          &:nth-of-type(3) {
            margin-top: -12px;
            transform: rotate(-135deg);
          }
        }
      }
  
      ~ .menu {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  
  .hamburger {
    cursor: pointer;
    z-index: 1020;
    width: 32px;
    margin: 0;
    padding: 0;
  
    div {
      position: relative;
      width: 100%;
      height: 2px;
      background-color: #000;
      transition: background-color .5s, transform .5s;
  
      &:nth-of-type(2) {
        margin: 4px 0;
      }
    }
  }
  
  .menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1010;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-out;
    will-change: opacity, visibility;
    
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      
      li {
        margin-bottom: 4px;
        font-size: 32px;
        
        a, a:hover {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}


#toggle-nav {
  display: none;
}

.menu-item {
  position: relative;
  transition: background-color .3s;
}

.menu-item:hover .drop-menu-list {
  transform: scaleY(1);
  display: initial;
}

.menu-item:hover {
  transition: background-color .3s;
}

.drop-menu-item:hover {
  opacity: .8;
  transition: opacity .3s;
}


.drop-menu {
  position: relative;
}

.drop-menu-list {
  right: -50%;
  position: absolute;
  top: 62px;
  transform: scaleY(0);
  transform-origin: center top;
  transition: transform .3s;
  width: max-content;
  z-index: 1;
}

.drop-menu-list2 {
  right: -25%;
}

.drop-menu-list a {
  text-align: center;
  width: 160px
}

@media (max-width: 991px) {
  .drop-menu-list a {
    width: 100%
  }
}

@media (max-width: 991px) {
  .drop-menu-list {
    position: static;
    display: none;
  }
}


.drop-menu-item {
  background-color: white ;
  transition: opacity .3s;
}

/*-------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  background-color: #2C2C2C;
  color: #FFFFFF;
  width: 100%;
  font-weight: 900;
}

.footer a {
  color: #FFFFFF !important;
}

.footer-content-box {
  max-width: 1080px;
  margin: 0 auto;
  justify-content: space-between;
}

.icon-img {
  width: auto;
  height: 42px;
}

.footer-content-box2 {
  margin-top: 80px;
  text-align: center;
  border-top: 1px solid #FFFFFF;
}


.footer-content1 {
  padding-top: 80px;
}

.footer-content2 {
  display: flex;
  padding-top: 90px;
}

.footer-text1 {
  padding-top: 10px;
}

.footer-text2 {
  padding-top: 15px;
}

.footer-link-box {
  padding-left: 35px;
}

.footer-link1 {
  text-decoration: none;
  font-size: 16px;
}

.footer-link2 {
  text-decoration: none;
  padding-top: 28px;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .footer-content-box {
    max-width: none !important;
    margin: 0 20px;
  }

  .footer-content-box2 {
    margin-top: 40px;
  }

  .icon-img {
    width: auto;
    height: 36px;
  }

  .footer-content1 {
    padding-top: 40px;
    font-size: 14px;
    font-weight: 900;
    line-height: 17.38px;
  }

  .footer-content2 {
    display: block;
    padding-top: 40px;
  }

  .footer-link-box {
    padding-left: 0px;
  }

  .footer-link1,
  .footer-link2 {
    padding: 0 0 10px;
  }
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

@media screen and (max-width: 991px){
  .nav-list {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    padding: 40px 20px 33px;
    background-color: #FAFAFA;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .05);
    text-align: center;
    z-index: 9999;
  }

  .header .nav-link {
    color: #2C2C2C;
    font-size: 16px;
    font-weight: 700;
    line-height: 23.17px;
  }
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
  margin-left: 15px;
}

@media (max-width: 991px) {
  .navbar li {
    width: 100%;
    padding: 0 45px;
  }

  .navbar .nav-link  {
    border-bottom: 1px solid #CF553A;
  }
}


@media (max-width: 991px) {
  .nav-item {
    margin: 0 !important;
  }
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #D32600 !important;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  background: #f03c02;
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 4px;
  color: #fff;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: #fd490f;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 13px;
  text-transform: none;
  font-weight: 500;
  color: #581601;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #f03c02;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

.header .navbar-toggler {
  padding: 0;
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.header .nav-link:active {
  color: #D32600 !important;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #2b2320;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(14, 11, 10, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #581601;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #f03c02;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #f03c02;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Home
--------------------------------------------------------------*/
.home {
  .user-btn {
    padding: 0px !important;
  }

  a:hover {
    --bs-link-color-rgb: initial !important;
  }
}

.home-top-img-wrap {
  width: 100%;
  height: auto;
  background-image: url('/assets/home/top.png');
  background-size: cover;
  background-position: center;
  display: grid;
  justify-content: center;
}

.home-top-title-img {
  width: 890px;
  text-align: center;
  margin: 400px 0 60px;
}

.home-about-us-wrap .user-btn::after,
.home-restaurant-wrap .user-btn::after,
.home-carrer-wrap .user-btn::after,
.home-news-wrap .news-index-btn::after,
.system-premium-btn::after,
.job-entry-btn::after,
.lbr-dream-btn::after {
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  right: 20px;
  top: 30%;
}

.premium-btn::before {
  content: "\f095";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  left: 20px;
  top: 30%;
}

.premium-btn:hover::before {
  left: 15px; 
}

.home-about-us-wrap .user-btn:hover::after,
.home-restaurant-wrap .user-btn:hover::after,
.home-carrer-wrap .user-btn:hover::after,
.home-news-wrap .news-index-btn:hover::after,
.system-premium-btn:hover::after,
.job-entry-btn:hover::after,
.lbr-dream-btn:hover::after {
  right: 15px; 
}


.home-content-box {
  max-width: 1080px;
  margin: 0 auto;
}


@media screen and (max-width: 767px) {
  .home-content-box {
    max-width: none !important;
    margin: 0 20px;
  }

  .home-about-us-wrap .user-btn::after,
  .home-restaurant-wrap .user-btn::after,
  .home-carrer-wrap .user-btn::after,
  .home-news-wrap .news-index-btn::after,
  .system-premium-btn::after,
  .job-entry-btn::after,
  .lbr-dream-btn::after {
    right: 30px;
    top: 32%;
  }

  .home-about-us-wrap .user-btn:hover::after,
  .home-restaurant-wrap .user-btn:hover::after,
  .home-carrer-wrap .user-btn:hover::after,
  .home-news-wrap .news-index-btn:hover::after,
  .system-premium-btn:hover::after,
  .job-entry-btn:hover::after,
  .lbr-dream-btn:hover::after {
    right: 20px;
  }
}

@media (max-width: 767px) {
  .home-top-img-wrap {
    height: auto;
    background-image: url('/assets/home/top-sp.png');
  }
  
  .home-top-title-img {
    width: 380px;
    text-align: center;
    margin-top: 240px;
    margin-bottom: 60px;
  }
}



// about-us

.home-about-us-wrap {
  width: 100%;
  background-color: #FFF7E3;
  padding-bottom: 40px;
}

.about-us-content {
  padding-top: 180px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .about-us-content {
    padding: 40px 0;
  }
}

.about-us-title {
  margin-bottom: 20px;
}

.about-us-title-img {
  width: auto;
  height: 32px;
}

@media screen and (max-width: 767px) {
  .about-us-title-img {
    width: auto;
    height: 24px;
  }
}

.about-us-text {
  font-size: 18px;
  font-weight: 500;
  color: #4B4B4B;
  line-height: 30px;
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .about-us-text {
    font-size: 16px;
    margin-bottom: 25px;
  }
}

.about-us-img {
  margin-left: 30px;
}

@media screen and (max-width: 767px) {
  .about-us-img {
    margin: 0 0 40px;
  }
}

@media screen and (max-width: 767px) {
  .about-us-link,
  .restaurant-link,
  .carrer-link {
    display: flex;
    justify-content: center;
  }
}

.home-premium-content {
  background-color: #D32600;
  border-radius: 10px;
  padding: 5px 5px 30px;
}

.home-premium-title-box {
  padding: 15px 0;
  background-color: #FFFFFF;
  font-weight: 900;
  text-align: center;
}

.home-premium-subtitle {
  font-size: 28px;
  letter-spacing: 15%;
  color: #000000;
}

.home-premium-title {
  font-size: 40px;
  letter-spacing: 15%;
  color: #D32600;
}

.home-premium-info {
  padding: 20px 100px 0;
}

.home-premium-text {
  font-size: 18px;
  color: #FFFFFF;
  line-height: 37px;
  padding-bottom: 25px;
}

.premium-link {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .home-premium-content {
    background-color: #D32600;
    border-radius: 10px;
    padding: 5px 5px 30px;
  }
  
  .home-premium-title-box {
    padding: 10px 0;
  }
  
  .home-premium-subtitle {
    font-size: 16px;
    letter-spacing: 15%;
    color: #000000;
  }
  
  .home-premium-title {
    font-size: 28px;
    letter-spacing: 15%;
    color: #D32600;
  }
  
  .home-premium-info {
    padding: 10px 20px 0;
  }
  
  .home-premium-text {
    font-size: 18px;
    color: #FFFFFF;
    line-height: 37px;
    padding-bottom: 25px;
  }
  
  .home-premium-link {
    display: flex;
    justify-content: center;
  }
}

.form-fix-btn {
  width: 280px;
  height: 60px;
  background-color: #D9D9D9;  
  color: #2C2C2C;
  font-size: 18px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


.about-us-btn,
.restaurant-btn,
.news-index-btn,
.job-entry-btn,
.lbr-dream-btn,
.premium-btn,
.system-premium-btn,
.form-btn {
  width: 280px;
  height: 60px;
  background-color: #D32600;
  font-size: 18px;
  font-weight: 900;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 767px) {
  .news-index-btn {
    width: auto;
  }
}


// restaurant
.home-restaurant-wrap {
  width: 100%;
  background-size: cover;
  background-image: url('/assets/home/restaurant.png');
  padding: 70px 0;
}

@media screen and (max-width: 767px) {
  .home-restaurant-wrap {
    padding: 40px 0;
    background-size: cover;
    background-image: url('/assets/home/restaurant-sp.png');
  }
}

.restaurant-content {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 60px 100px 57px;
}


@media screen and (max-width: 767px) {
  .restaurant-content {
    padding: 40px 20px;
  }
}

.restaurant-title {
  text-align: center;
}

.restaurant-title-img {
  width: auto;
  height: 32px;
}

@media screen and (max-width: 767px) {
  .restaurant-title-img {
    width: auto;
    height: 24px;
  }
}

@media screen and (max-width: 767px) {
  .restaurant-sub-title {
    display: none;
  }
}

.restaurant-sub-title {
  font-size: 24px;
  font-weight: 900;
  color: #2C2C2C;
  text-align: center;
  padding-top: 35px;
}

.restaurant-text {
  font-size: 16px;
  font-weight: 500;
  color: #2C2C2C;
  line-height: 30px;
  padding: 20px 0px;
}

.restaurant-link:nth-child(2),
.carrer-link:nth-child(2) {
  padding-left: 50px; 
}

@media screen and (max-width: 767px) {
  .restaurant-link:nth-child(2),
  .carrer-link:nth-child(2) {
    padding: 30px 0 0; 
  }
}

// carrer

.home-carrer-wrap {
  width: 100%;
  background-color: #FFFFFF;
  padding: 50px 0;
}

.carrer-content {
  background-color: #D32600;
  border-radius: 10px;
  padding: 40px 110px 120px;
}

@media screen and (max-width: 767px) {
  .carrer-content {
    padding: 40px 20px;
  }
}

.carrer-img {
  text-align: center;
  padding: 0 0 30px;
}

@media screen and (max-width: 767px) {
  .carrer-img {
    padding: 0 0 10px;
  }
}

.carrer-title {
  text-align: center;
}

.carrer-title-img {
  width: auto;
  height: 28px;
}

@media screen and (max-width: 767px) {
  .carrer-title-img {
    width: auto;
    height: 24px;
  }
}

.carrer-text {
  font-size: 16px;
  font-weight: 900;
  color: #FFFFFF;
  line-height: 30px;
  padding: 20px 0px 45px;
}

.carrer-btn,
.home-premium-btn {
  width: 280px;
  height: 60px;
  background-color: #FFFFFF;
  font-size: 18px;
  font-weight: 900;
  color: #D32600;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

// ニュース

.home-news-wrap {
  width: 100%;
  background-color: #FFF7E3;
  border: 6px solid #000000;
}

.home-news-wrap button {
  padding: 0;
  border: 0;
}

.home-news-title {
  text-align: center;
  padding: 90px 0 40px;
}

@media screen and (max-width: 767px) {
  .home-news-title {
    padding: 40px 0 20px;
  }
}

.news-title-img {
  width: auto;
  height: 32px;
}

@media screen and (max-width: 767px) {
  .news-title-img {
    width: auto;
    height: 24px;
  }
}

.tab_container {
  margin: 0 auto;
  max-width: 1080px;
}

@media screen and (max-width: 767px) {
  .tab_container {
    max-width: none !important;
    margin: 0 20px;
  }
}

.tab_item {
  width: calc(100%/4);
  float: left;
  text-align: center;
  transition: all 0.2s ease;
}

@media screen and (max-width: 767px) {
  .tab_item {
    width: calc(100%/2);
  }
}

.tab_pointer_wrap {
  float: left;
  width: 100%;
  text-align: center;
}

.tab_item_left_margin {
  margin-left: calc(100%/4);
}

.tab_item_right_margin {
  margin-right: calc(100%/4);
}

@media screen and (max-width: 767px) {
  .tab_item_left_margin,
  .tab_item_right_margin {
    margin: 0;
  }
}

.tab_pointer_space {
  width: calc(100%/4);
  border-bottom: 1px solid #fff7e3 ;
  display: block;
  float: left;
  visibility: hidden;
}

@media screen and (max-width: 767px) {
  .tab_pointer_space_sm1 {
    width: 17%;
  }

  .tab_pointer_space_sm2 {
    width: 50%;
  }

  .float_right_sm {
    float: right;
  }
}


input[name="tab_item"] {
  display: none;
}

.tab_item {
  cursor: pointer;
}

.tab_content_wrap {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 55px;
  display: none;
  float: left;
}

.tab_pointer {
  margin: auto;
  content: "";
  bottom: -17px;
  left: calc(50% - 17px);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 17px 17px 0 17px;
  border-color: #D32600 transparent transparent transparent;
}

.tab_button {
  display: none;
  margin: auto;
}

@media screen and (max-width: 767px) {
  .tab_button {
    width: 100%;
    margin: 0;
  }
}


#tab1:checked ~ #tab1_content, 
#tab2:checked ~ #tab2_content,
#tab1:checked ~ #tab1_button, 
#tab2:checked ~ #tab2_button {
  display: block;
}

#tab1:checked ~ #tab_pointer_space1, 
#tab2:checked ~ #tab_pointer_space2 {
  visibility: visible;
}

.tab_container input:checked + .tab_item {
  background-color: #D32600 ;
  color: #fff;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
 
.clearfix:before {
  content: "";
	display: block;
	clear: both;
}
 
.clearfix {
	display: block;
  padding-bottom: 125px 
}

@media screen and (max-width: 767px) {
  .tab_content_wrap {
    margin-bottom: 0px;
  }

  .clearfix {
    padding-bottom: 40px 
  }
}

.news-btn,
.article-btn {
  height: 80px;
  background-color: #D9D9D9;
  font-size: 18px;
  font-weight: 900;
  color: #2C2C2C;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .news-btn,
  .article-btn {
    height: 50px;
  }
}

.home-news-content {
  background-color: #FFFFFF;;
  border-radius: 10px;
  border: 6px solid #E2E2E2;
  padding: 45px;
}

@media screen and (max-width: 767px) {
  .home-news-content {
    margin: 0 0 25px;
    padding: 30px 20px;
  }
}

.home-news-textbox,
.home-article-textbox {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}


@media screen and (max-width: 767px) {
  .home-news-textbox,
  .home-article-textbox {
    font-size: 16px;
  }
}

.home-news-textbox:hover,
.home-article-textbox:hover {
  opacity: 0.75;
}

.home-news-textbox:nth-of-type(-n+4),
.home-article-textbox:nth-of-type(-n+4) {
  padding-bottom: 15px;
}

.home-news-textbox a,
.home-article-textbox a {
  color: #2C2C2C;
  text-decoration: none;
}

.home-news-calender-date,
.home-article-category {
  padding-right: 15px;
}

@media screen and (max-width: 767px) {
  .home-news-calender-date,
  .home-article-category  {
    font-size: 18px;
    display: block;
    padding-right: 0px;
  }
}


/*--------------------------------------------------------------
# lbr
--------------------------------------------------------------*/

.lbr-dream-wrap {
  width: 100%;
  background-color: #FFF7E3;
  padding: 80px 0 60px;
}

.lbr-dream-content {
  max-width: 800px;
  margin: 0 auto;
}

.dream-title-img {
  width: auto;
  height: 40px;
}

.lbr-dream-title {
  text-align: center;
}

.lbr-dream-subtitle {
  background-color: #FFFFFF;
  margin: 30px 0;
  padding: 20px 40px;
  font-weight: 900;
  font-size: 24px;
  color: #D32600;
  text-align: center;
}

.lbr-dream-subtitle-logo {
  font-size: 18px;
  color: #2C2C2C;
}

.lbr-dream-subtitle-margin {
  margin-right: 16px
}

.lbr-dream-text-box {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #2C2C2C;
  text-align: center;
}

.lbr-dream-text {
  margin-bottom: 20px;
}

.lbr-mission-title {
  text-align: center;
  margin: 60px 0 40px;
}

.mission-title-img {
  width: auto;
  height: 40px;
}

.lbr-mission-text-box {
  background-color: #FFFFFF;
  padding: 20px 40px;
  font-size: 20px;
  font-weight: 900;
  color: #2C2C2C;
  margin-bottom: 40px;
}

.lbr-mission-text-box li:nth-child(-n+2) {
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .lbr-dream-wrap {
    padding: 40px 0 60px;
  }

  .lbr-dream-content {
    max-width: none;
    margin: 0 20px;
  }

  .dream-title-img {
    width: auto;
    height: 28px;
  }

  .lbr-dream-subtitle {
    margin: 20px 0;
    padding: 18px 60px;
    font-size: 18px;
  }

  .lbr-dream-subtitle li:first-child {
    margin-bottom: 10px;
  }
  
  .lbr-dream-subtitle-logo {
    font-size: 14px;
    color: #2C2C2C;
  }
  
  .lbr-dream-subtitle-margin {
    margin: 0;
  }

  .lbr-dream-text-box {
    text-align: left;
  }
  
  .lbr-mission-title {
    text-align: center;
    margin: 40px 0 20px;
  }
  
  .mission-title-img {
    width: auto;
    height: 28px;
  }
  
  .lbr-mission-text-box {
    background-color: #FFFFFF;
    padding: 18px 10px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .lbr-mission-text-box li:nth-child(-n+2) {
    margin-bottom: 20px;
  }
}

.lbr-merit-wrap {
  width: 100%;
  background-color: #FFFFFF;
  padding: 80px 0 10px;
}

.lbr-merit-content-box {
  max-width: 1080px;
  margin: 0 auto;
}

.merit-title-img {
  width: auto;
  height: 40px;
}

.lbr-merit-title {
  text-align: center;
  margin-bottom: 50px;
}

.lbr-merit-content {
  display: flex;
  margin-bottom: 80px;
}

.merit-img {
  width: 500px;
  height: 350px;
}

.lbr-merit-margin-right {
  margin-right: 30px;
}

.lbr-merit-margin-left {
  margin-left: 30px;
}

.lbr-merit-content-info {
  color:  #2C2C2C;
}

.lbr-merit-content-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 52.13px;
  margin-bottom: 20px;
}

.lbr-merit-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.lbr-merit-notion-text {
  font-size: 18px;
  font-weight: 900;
}

.lbr-img-wrap {
  width: 100%;
  background-color: #FFFFFF;
  padding: 30px 0;
}

.swiper2 {
  padding: 10px 90px 0;
}

.swiper-img {
  width: 350px;
  height: 250px;
}

@media screen and (max-width: 767px) {
  .lbr-merit-wrap {
    padding-top: 20px;
  }

  .lbr-merit-content-box {
    max-width: none !important;
    margin: 0 20px;
  }

  .merit-title-img {
    width: auto;
    height: 28px;
  }

  .lbr-merit-title {
    margin-bottom: 20px;
  }

  .lbr-merit-content {
    display: block;
    margin-bottom: 20px;
  }

  .merit-img {
    width: 100%;
    height: auto;
  }

  .lbr-merit-margin-right {
    margin-right: 0px;
  }
  
  .lbr-merit-margin-left {
    margin-left: 0px;
  }

  .lbr-merit-content-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 28.96px;
    margin-top: 15px;
  }

  .swiper2 {
    padding: 10px 20px 0 0;
  }
}

@media screen and (max-width: 630px) {
  .swiper-img {
    width: 180px;
    height: 120px;
  }
}

.owner-message-wrap {
  width: 100%;
  background-color: #FFFFFF;
  padding: 80px 0 120px;
}

.owner-message-content {
  max-width: 800px;
  margin: 0 auto;
}

.owner-message-title {
  text-align: center;
  padding-bottom: 40px;
}

.message-title-img {
  width: auto;
  height: 42px;
}

.owner-img {
  width: 100%;
  height: auto;
}

.owner-message-text-box {
  margin-top: 60px;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #2C2C2C;
}

.owner-message-text {
  margin-bottom: 30px;
}

.owner-name {
  font-family: 'Yusei Magic', sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: right;
  color: #000000;
}

.owner-post {
  font-size: 18px;
  margin-right: 20px;
}

@media screen and (max-width: 767px) {
  .owner-message-wrap {
    padding: 40px 0;
  }

  .owner-message-content {
    max-width: none;
    margin: 0 20px;
  }

  .owner-message-title {
    padding-bottom: 20px;
  }

  .message-title-img {
    width: auto;
    height: 28px;
  }

  .owner-message-text-box {
    margin-top: 20px;
  }

  .owner-message-text {
    margin-bottom: 15px;
  }

  .owner-name {
    font-size: 24px;
  }

  .owner-post {
    font-size: 16px;
    margin-right: 10px;
  }
}

.interview-wrap {
  width: 100%;
  background-color: #FFF7E3;
  padding: 40px 0px 120px;
}

.interview-content {
  max-width: 1080px;
  margin: 0 auto;
}
 
.interview-card-box {
  display: flex;
  justify-content: space-between;
}

.interview-card:nth-child(-n+3) {
  margin-right: 20px;
}

.interview-title-img {
  width: auto;
  height: 42px;
}

.interview-title {
  text-align: center;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .interview-wrap {
    padding: 40px 0 10px;
  }

  .interview-content {
    max-width: none !important;
    margin: 0 20px;
  }

  .interview-card-box {
    display: block;
  }

  .interview-card {
    padding-bottom: 30px;
    margin-right: 0;
  }

  .interview-title {
    padding-bottom: 20px;
  }

  .interview-title-img {
    width: auto;
    height: 28px;
  }
}

.staff-post {
  width: 76px;
  height: 20px;
  background-color: #D32600;
  color: #FFFFFF;
  font-size: 10px;
  font-weight: 500;
  line-height: 14.48px;
  letter-spacing: 0em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 10px;
}

.staff-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  color: #000000;
}

.staff-name-en {
  font-size: 12px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  color: #6F6F6F;
  margin-left: 5px;
}

.employ-date {
  font-size: 12px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  color: #000000;
  margin-bottom: 10px;
}

.staff-text {
  font-size: 16px;
  font-weight: 900;
  line-height: 23px;
  letter-spacing: 0em;
  color: #000000;
}

.interview-section-title-wrap {
  width: 100%;
  height: 400px;
  background-size: cover;
  display: flex;
  align-items: center;
}

.interview1 {
  background-image: url('/assets/lbr/staff1-interview-section.png');
}

.interview2 {
  background-image: url('/assets/lbr/staff2-interview-section.png');
}

.interview3 {
  background-image: url('/assets/lbr/staff3-interview-section.png');
}

.interview4 {
  background-image: url('/assets/lbr/staff4-interview-section.png');
}

.interview-section-title-box {
  font-size: 32px;
  font-weight: 900;
  margin-left: 97px;
  color: #2C2C2C;
}

.interview-title-img {
  width: auto;
  height: 42px;
}

.interview-section-title-img {
  margin-bottom: 6px;
}

.interview-section-title-box .staff-name {
  font-size: 24px;
  margin-bottom: 7px;
}

.staff-interview-wrap-white {
  width: 100%;
  padding: 40px 0;
  background-color: #FFFFFF;
}

.staff-interview-wrap-gray {
  width: 100%;
  padding: 40px 0;
  background-color: #F6F8FC;
}

.staff-interview-content-box {
  max-width: 1080px;
  margin: 0 auto;
}

.staff-interview-margin-right {
  margin-right: 30px;
}

.staff-interview-margin-left {
  margin-left: 30px;
}

.staff-interview-content1,
.staff-interview-content3 {
  display: flex;
}

.staff-interview-content2,
.staff-interview-content4 {
  background-color: #F6F8FC;
  text-align: center;
}

.staff-show-img {
  width: 500px;
  height: auto;
}

.staff-interview-content-info {
  color:  #2C2C2C;
}

.staff-interview-content-subtitle {
  color: #D32600;
  font-size: 18px;
  font-weight: 900;
  line-height: 26px;
  margin-bottom: 10px;
}

.staff-interview-content-title {
  font-size: 28px;
  font-weight: 900;
  line-height: 41px;
  margin-bottom: 20px;
}

.staff-interview-content-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
}

@media screen and (max-width: 767px) {
  .interview-section-title-wrap {
    width: 100%;
    background-image: none;
    display: block;
    height: auto;
  }

  .interview-section-title-box {
    background-color: #F6F8FC;
    font-size: 18px;
    font-weight: 700;
    margin-left: 0px;
    padding: 40px 20px;
    text-align: center !important;
  }

  .interview-title-img {
    width: auto;
    height: 28px;
  }

  .interview-section-title-img {
    margin-bottom: 15px;
  }

  .staff-interview-content-box {
    max-width: none !important;
  }
  
  .staff-interview-margin-left,
  .staff-interview-margin-right {
    margin: 10px 0 0;
  }

  .staff-interview-content1,
  .staff-interview-content2,
  .staff-interview-content3,
  .staff-interview-content4 {
    padding: 0 20px;
  }

  .staff-interview-content1,
  .staff-interview-content3 {
    display: block;
  }

  .staff-show-img {
    width: 100%;
    height: auto;
  }

  .staff-interview-content-subtitle {
    font-size: 16px;
    margin-bottom: 0px;
  }

  .staff-interview-content-title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .staff-post-box {
    display: flex;
    justify-content: center;
  }
}

.premium-wrap {
  width: 100%;
  background-color: #FFF7E3;
  padding: 60px 0;
}

.premium-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.premium-title {
  text-align: center;
}

.premium-title-img {
  width: auto;
  height: 42px;
}

.premium-text-box {
  background-color: #FFFFFF;
  margin: 40px 0;
  padding: 25px 0;
  color: #000000;
}

.fa-angles-down {
  font-size: 45px;
  color: #D32600;
}

@media screen and (max-width: 767px) {
  .premium-wrap {
    padding: 40px 0 60px;
  }

  .premium-content {
    max-width: none;
    margin: 0 20px;
  }

  .premium-title-img {
    width: auto;
    height: 28px;
  }

  .premium-text-box {
    margin: 25px 0;
    padding: 20px 5px;
    font-size: 14px;
  }

  .fa-angles-down {
    font-size: 30px;
  }
}

/*--------------------------------------------------------------
# conpany
--------------------------------------------------------------*/

.company-wrap {
  width: 100%;
  background-color: #FFFFFF;
}

.company-content {
  max-width: 1080px;
  margin: 80px auto;
}


.company-table tr {
  border: 1px solid #D3D3D3;
}

.company-table th {
  height: 100%;
  padding: 40px 0;
  vertical-align: middle;
  background-color: #FFF7E3;
  border: 1px solid #D3D3D3;
}

.company-table td {
  height: 100%;
  padding: 40px 0;
  vertical-align: middle;
}


.company-label {
  height: 100%;
  padding-left: 50px;
  display: flex;
}

@media (max-width: 767px){

}

.company-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  padding-left: 50px;
}

@media (max-width: 767px){

}


@media screen and (max-width: 767px) {
  .company-content {
    max-width: none !important;
    margin: 40px 20px;
    font-size: 14px;
  }

  .company-table th {
    padding: 10px 15px;
  }
  
  .company-table td {
    padding: 10px 15px;
  }

  .company-label,
  .company-form {
    padding: 0;
  }

}

.company-as-radio {
  margin: 10px 40px 0 0;
}

.company-btn-box {
  text-align: center;
  background-color: #e8e8e8;
  margin: 24px 0 0;
  padding: 1.25em 0.625em 1.375em;
}

@media (min-width: 767px){
  .company-btn-box .btn {
    width: 400px;
  }
}

/*--------------------------------------------------------------
# News
--------------------------------------------------------------*/
.news-wrap {
  width: 100%;
  background-color: #FFF7E3;
}

.news-content {
  background-color: #FFFFFF;
  padding: 25px 55px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.news-content:first-child {
  padding-top: 55px;
}

.news-content:nth-child(5) {
  padding-bottom: 55px;
}

.tab_item_top_margin {
  margin-top: 80px;
}

.news-calender-date {
  padding-right: 20px;
  color: #8F8F8F;
  font-size: 18px;
  font-weight: 400;
}

.news-title {
  font-size: 22px;
  font-weight: 700;
}



@media (max-width: 767px) {
  .news-content {
    background-color: #FFFFFF;
    padding: 15px 10px;
    border-radius: 4px;
    display: block;
  }
  
  .news-content:first-child {
    padding-top: 20px;
  }
  
  .news-content:nth-child(5) {
    padding-bottom: 20px;
  }

  .news-show-date{
    margin-top: 8px;
  }

  .tab_item_top_margin {
    margin-top: 40px;
  }

  .news-calender-date {
    padding: 0 0 5px;
    font-size: 12px;
  }
  
  .news-title {
    font-size: 16px;
  }
}


.newsHeaderbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #999;
  border-bottom: 2px dotted #999;
  padding: 0 12px;
}

@media screen and (max-width: 767px){
  .newsHeaderbox {
    flex-wrap: wrap;
  }
}

.newsHeaderbox h1 {
  font-size: 32px;
  line-height: 1.25;
  padding: 20px 0;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .newsHeaderbox h1 {
    width: 100%;
    font-size: 24px;
    padding: 20px 0 0;
  }
}

.newsContentbox {
  margin-top: 60px;
}

/*--------------------------------------------------------------
# Artile
--------------------------------------------------------------*/

.article-wrap {
  padding: 0 80px;
}

.article-image:hover {
  background-color: transparent;
}

@media screen and (max-width: 767px){
  .default-article-image {
    width: 100%;
    height: auto;
  }
}

.article-content {
  margin-bottom: 30px;
  display: flex;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.article-content:hover,
.news-title:hover {
  opacity: 0.75;
}

.article-tab a,
.news-tab a {
  color: #000000;
  text-decoration: none;
}


.news-tab_content_wrap {
  margin-bottom: 0;
  margin-top: 10px;
}


.article-info {
  padding: 10px 55px;
}

.article-category {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 28px;
  color: #8F8F8F;
}

.event-category {
  color: red;
}

.company_trip-category {
  color: blue;
}

.staff_introduction-category {
  color: green;
}

.other-category {
  color: orange;
}

.article-title {
  font-size: 24px;
  font-weight: 700;
}

@media (max-width: 767px) {
  .article-content > div:first-child {
    flex: 4;
  }
  
  .article-content > div:last-child {
    flex: 6;
  }
  
  .article-info {
    padding: 10px 10px;
  }
  
  .article-category {
    font-size: 10px;
    margin-bottom: 7px;
    color: #8F8F8F;
  }

  .article-title {
    font-size: 14px;
    font-weight: 500;
  }
}

.article-image img {
  display: inline-block;
}

.articleHeaderbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #999;
  border-bottom: 2px dotted #999;
  padding: 0 12px;
}

.article-show-wrap {
  background-color: #FFF7E3;
  color: #2C2C2C;
  width: 100%;
  padding: 50px 310px 80px;
}

.article-show-category {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 14px;
  color: #8F8F8F;
  text-align: center;
}

.article-show-title {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 700;
  text-align: center;
}

.article-show-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 14px;
}

@media (max-width: 767px) {
  .article-show-wrap {
    padding: 40px 20px;
  }

  .article-show-category {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 7px;
  }

  .article-show-title {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .article-show-text {
    font-size: 14px;
    margin-bottom: 0px;
  }
}

.article-show-image {
  width: 100%;
  height: auto;
  margin-bottom: 14px;
  text-align: center;
}



/*--------------------------------------------------------------
# Shop
--------------------------------------------------------------*/
.shops-wrap {
  width: 100%;
  background-color: #FFF7E3;
  padding: 80px 0 65px;
}

@media (max-width: 767px){
  .shops-wrap {
    width: 100%;
    padding: 40px 0 25px;
  }
}

.shop-content-box {
  background-color: #FFFFFF;
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
  padding: 20px 0;
  border-radius: 4px;
}

.shop-content {
  display: flex;
  text-align: center;
  align-items: center;
}

.shop-img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 767px) {
  .shop-content-box {
    max-width: none !important;
    margin: 0 20px 15px;
  }
}

.shop-card {
  padding: 16px;
  width: 100%;
  background-color: #FFFFFF;
}

@media (min-width: 480px){
  .shop-card-content {
    padding: 36px;
  }
}

.shop-info {
  color: #000000;
}

@media (min-width: 480px){
  .shop-info {
    padding: 1rem 1rem 1rem 5rem;
  }
}

.shop-info dt {
  font-weight: bold;
  vertical-align: top;
}

.shop-info dd {
  margin-bottom: 1em;
}

.shop-info a {
  color: #000000;
}

@media (min-width: 480px){
  .shop-info dt {
    display: inline-block;
    width: 30%;
  }
}

@media (min-width: 480px){
  .shop-info dd {
    display: inline-block;
    width: 64%;
    margin-left: 15px;
  }
}

.shop-title {
  flex: 1 1 auto;
  font-size: 24px;
  font-weight: 700;
  color: #2C2C2C;
}

@media (max-width: 767px){
  .shop-title {
    font-size: 18px;
  }
}

/*--------------------------------------------------------------
# Contacts
--------------------------------------------------------------*/
.contact-table {
  height: 0;
}

@media (max-width: 767px){
  .contact-table tr {
    display: block;
  }
}

.contact-table th {
  font-weight: bold;
  height: 100%;
  padding: 1.125em 0;
}

@media (max-width: 767px){
  .contact-table th {
    display: block;
    padding: 0.86em 0;
  }
}

.contact-table td {
  padding: 1.29em 0 1.29em 2.14em;
}

@media (max-width: 767px){
  .contact-table td {
    display: block;
    padding: 0 0 0.86em;
  }
}

.contact-label {
  background-color: #e8e8e8;
  height: 100%;
  padding: 1.125em 6.37em 1em 1.56em;
}

@media (max-width: 767px){
  .contact-label {
    padding: 12px 60px 12px 10px 
  }
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
}


.contact-as-radio {
  margin: 10px 40px 0 0;
}

.contact-btn-box {
  text-align: center;
  background-color: #e8e8e8;
  margin: 24px 0 0;
  padding: 1.25em 0.625em 1.375em;
}

@media (min-width: 767px){
  .contact-btn-box .btn {
    width: 400px;
  }

  .contact-as-radio {
  margin: 10px 20px 0 0;
}
}


/*--------------------------------------------------------------
# JobEntry
--------------------------------------------------------------*/


.job-profile-wrap {
  width: 100%;
  padding-bottom: 80px;
  background-color: #FFFFFF;
}

.job-profile-content,
.job-system-content {
  max-width: 800px;
  margin: 0 auto;
}

.profile-title-img {
  width: auto;
  height: 42px;
}

.job-profile-title,
.job-system-title {
  padding: 80px 0 40px 0;
  text-align: center;
}

.job-profile-text{
  font-size: 16px;
  font-weight: 900;
  line-height: 30px;
  text-align: center;
  color: #2C2C2C;
  margin-bottom: 30px;
}

.job-profile-card {
  padding: 25px 50px;
  background-color: #FFF7E3;
  border-radius: 4px;
}


.profile-card-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  color: #2C2C2C;
  display: flex;
  align-items: baseline;
}

.profile-card-icon {
   margin-right: 4px;
}

.system-title-img {
  width: auto;
  height: 42px;
}

.job-system-wrap {
  width: 100%;
  background-color: #D32600;
  padding-bottom: 70px;
}

.job-system-text {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.job-system-card {
  padding: 50px;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.job-system-card-subtitle {
  font-size: 12px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: #2C2C2C;
}

.job-system-card-subtitle:nth-of-type(2) {
  margin-top: 30px;
}

.job-system-card-title {
  text-align: center;
  margin-bottom: 30px;
}

.system-card-title1-img {
  width: auto;
  height: 35px;
}

.system-card-title2-img {
  width: auto;
  height: 35px;
}

.job-system-card-text {
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: #2C2C2C;
}

.job-system-card-text-margin {
  margin-bottom: 30px;
}

.job-system-card-sub-text {
  font-size: 12px;
}

.job-carrer-step-wrap {
  width: 100%;
  background-color: #F6F8FC;
  padding: 80px 0 ;
}

.job-carrer-step-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.job-carrer-step-title {
  padding-bottom: 30px;
}

.job-carrer-step-title-img {
  width: auto;
  height: 42px;
}

.job-carrer-step-text {
  color: #2C2C2C;
  padding-bottom: 30px;
}

.job-carrer-step-img {
  width: 100%;
  height: auto;
}

.job-entry-wrap {
  width: 100%;
  background-color: #FFF7E3;
  padding-bottom: 110px;
}

.job-entry-content {
  max-width: 1080px;
  margin: 0 auto;
}

.job-entry-title {
  text-align: center;
  padding: 80px 0 100px 0;
}

.enrtry-title-img {
  width: auto;
  height: 42px;
}

.job-entry-card {
  background-color: #FFFFFF;
  border-radius: 4px;
  padding: 10px 75px;
  margin-bottom: 30px;
}

.job-entry-card-text-box {
  display: flex;
  align-items: center;
  padding: 15px 0;
}

.job-entry-card-text-box:nth-child(-n+4) {
  border-bottom: 1px dotted #2C2C2C;
}

.job-entry-card-text-icon {
  width: 150px;
  height: 50px;
  border-radius: 4px;
  background-color: #D32600;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}

.job-entry-card-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  color: #2C2C2C;
}

@media screen and (max-width: 767px) {
  .job-profile-wrap,
  .job-system-wrap,
  .job-entry-wrap {
    padding-bottom: 40px;
  }

  .profile-title-img {
    width: auto;
    height: 28px;
  }

  .job-profile-content,
  .job-system-content,
  .job-carrer-step-content,
  .job-entry-content {
    max-width: none;
    margin: 0 20px;
  }

  .job-profile-title,
  .job-system-title,
  .job-entry-title {
    padding: 40px 0 20px 0;
  }

  .job-profile-card {
    padding: 15px 40px;
    margin-bottom: 20px;
  }

  .system-title-img {
    width: auto;
    height: 28px;
  }

  .job-system-text {
    margin-bottom: 20px;
  }

  .job-system-card {
    padding: 40px 15px;
  }

  .job-system-card-title {
    margin-bottom: 20px;
  }

  .system-card-title1-img {
    width: auto;
    height: 22px;
  }
  
  .system-card-title2-img {
    width: auto;
    height: 22px
  }

  .job-system-card-subtitle:nth-of-type(2) {
    margin-top: 20px;
  }

  .job-system-card-text {
    font-size: 14px;
    text-align: left;
  }

  .job-system-card-text-margin {
    margin-bottom: 15px;
  }

  .job-carrer-step-wrap {
    width: 100%;
    background-color: #F6F8FC;
    padding: 40px 0 ;
  }
  
  .job-carrer-step-title {
    padding-bottom: 20px;
  }
  
  .job-carrer-step-title-img {
    height: 28px;
  }
  
  .job-carrer-step-text {
    padding-bottom: 20px;
  }
  
  .job-carrer-step-img {
    width: 100%;
    height: auto;
  }

  .enrtry-title-img {
    width: auto;
    height: 28px;
  }

  .job-entry-card {
    padding: 25px 15px;
  }

  .job-entry-card-text-box {
    display: flex;
    align-items: center;
    padding: 10px 0;
  }

  .job-entry-card-text-icon {
    width: 100px;
    height: 29px;
    font-size: 14px;
    line-height: 20px;
    margin-right: 20px;
  }

  .job-entry-card-text-icon-sm {
    width: 100px;
    margin-right: 20px;
  }
}


.job-entry-link,
.lbr-dream-link {
  display: flex;
  justify-content: center;
}

.job-entry-table {
  height: 0;
}

@media (max-width: 767px){
  .job-entry-table tr {
    display: block;
  }
}

.job-entry-table th {
  font-weight: bold;
  height: 100%;
  padding: 1.125em 0;
}

@media (max-width: 767px){
  .job-entry-table th {
    display: block;
    padding: 0.86em 0;
  }
}

.job-entry-table td {
  padding: 1.29em 0 1.29em 2.14em;
}

@media (max-width: 767px){
  .job-entry-table td {
    display: block;
    padding: 0 0 0.86em;
  }
}

.job-entry-label {
  background-color: #e8e8e8;
  height: 100%;
  padding: 1.125em 6.37em 1em 1.56em;
}

@media (max-width: 767px){
  .job-entry-label {
    padding: 12px 60px 12px 10px 
  }
}

.job-entry-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
}

@media (max-width: 767px){
  .job-entry-form {
    display: block;
  }
}

.job-entry-as-radio {
  margin: 10px 40px 0 0;
}

@media screen and (max-width: 767px) {
  .job-entry-as-radio {
    margin: 10px 20px 0 0;
  }
}

.job-entry-btn-box {
  text-align: center;
  background-color: #e8e8e8;
  margin: 24px 0 0;
  padding: 1.25em 0.625em 1.375em;
}

@media (min-width: 767px){
  .job-entry-btn-box .btn {
    width: 400px;
  }
}

.birthday-wrap{
  font-size: 14px;
}

.birthday-wrap select {
  height: 40px;
  flex: 1 1 auto;
  margin: 0 4px;
  padding: 8px 15px;
}

@media screen and (max-width: 767px) {
  .birthday-wrap select {
    padding: 5px 10px;
  }
}

.entry_btn {
  display: none;
}

@media (min-width: 480px) {
  .entry_btn {
    height: 250px;
    border-top-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 20px;
    position: fixed;
    top: 100px;
    right: 1em;
    background: white;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    padding-right: 1.5em;
    padding-left: 0.5em;
    border: 5px #C7080B solid;
    color: #444444;
    font-size: 18px;
    line-height: 1.2em;
    text-align: center;
    display: block;
  }
}
.faq_btn {
  display: none;
}

@media (min-width: 480px) {
  .faq_btn {
    height: 250px;
    border-top-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 20px;
    position: fixed;
    top: 400px;
    right: 1em;
    background: white;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    padding-right: 1.5em;
    padding-left: 0.5em;
    border: 5px #C7080B solid;
    color: #444444;
    font-size: 18px;
    line-height: 1.2em;
    text-align: center;
    display: block;
  }
}


.faqs-wrap {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 12px 24px;
  background-color: #fff ;
  color: #4c4c4c;
}

@media (max-width: 767px){
  .faqs-wrap {
    width: 100%;
    padding: 0;
  }
}

.faq-border{
  border-bottom: 1px solid rgb(153, 153, 153);
}

.faq-card {
  padding: 16px;
  width: 100%;
  background-color: #f5f5f5;
}

@media (min-width: 480px){
  .faq-content {
    padding: 12px;
  }
}

@media (min-width: 480px){
  .faq-info {
    padding: 1rem;
  }
}

.faq-info dt {
  font-weight: bold;
  vertical-align: top;
}

.faq-info dd {
  margin-bottom: 1em;
}

@media (min-width: 480px){
  .faq-info dt {
    display: inline-block;
    width: 30%;
  }
}

@media (min-width: 480px){
  .faq-info dd {
    display: inline-block;
    width: 65%;
    margin-left: 15px;
  }
}

.faq-title {
  flex: 1 1 auto;
  font-size: 18px;
}

@media (max-width: 767px){
  .faq-title {
    font-size: 14px;
  }
}










#header {
  height: 70px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background: #fff;
}


#header.fixed-top {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

#header .logo h1 {
  font-size: 28px;
  margin: 0;
  padding: 10px 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #2b2320;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 120px;
}

.scrolled-offset {
  margin-top: 70px;
}

