<% set_meta_tags  title: '会社概要',
                  description: 'LBrestaurant株式会社の公式ホームページ。LBrestaurant株式会社の会社概要ページです。社名：LBrestaurant株式会社 設立：2022年12月28日 本社所在地：553−0006 大阪府大阪市福島区吉野３丁目８番３号',
                  canonical: 'https://lbrestaurant.net/company/',
                  og: {
                    title: '会社概要 | LBrestaurant(株式会社)公式サイト(暖簾分け希望者、求職者募集中!)',
                    description: 'LBrestaurant株式会社の公式ホームページ。LBrestaurant株式会社の会社概要ページです。社名：LBrestaurant株式会社 設立：2022年12月28日 本社所在地：553−0006 大阪府大阪市福島区吉野３丁目８番３号',
                    type: 'article',
                    url: 'https://lbrestaurant.net/company/'
                  }
%>

<%= render partial: 'public/shared/section-title', locals: { section_title: '会社概要' } %>
<div class="company-wrap">
  <div class="company-content">
    <table class="table company-table">
      <tbody>
        <tr>
          <th class="col-md-4">
            <span class="company-label">
              商号
            </span>
          </th>
          <td class="col-md-8">
            <span class="company-form">
              LBrestaurant株式会社
            </span>
          </td>
        </tr>

        <tr>
          <th class="col-md-4">
            <span class="company-label">
              所在地
            </span>
          </th>
          <td class="col-md-8">
            <span class="company-form">
              
                〒553-0006<br>
                大阪府大阪市福島区吉野３丁目８番３号
              
            </span>
          </td>
        </tr>

        <tr>
          <th class="col-md-4">
            <span class="company-label">
              設立
            </span>
          </th>
          <td class="col-md-8">
            <span class="company-form">
              2022年12月28日
            </span>
          </td>
        </tr>

        <tr>
          <th class="col-md-4">
            <span class="company-label">
              電話番号
            </span>
          </th>
          <td class="col-md-8">
            <span class="company-form">
              06-6459-7396
            </span>
          </td>
        </tr>

        <tr>
          <th class="col-md-4">
            <span class="company-label">
              資本金
            </span>
          </th>
          <td class="col-md-8">
            <span class="company-form">
              5,000,000円
            </span>
          </td>
        </tr>

        <tr>
          <th class="col-md-4">
            <span class="company-label">
              役員
            </span>
          </th>
          <td class="col-md-8">
            <span class="company-form">
              <p>
                代表取締役:<span class="ms-3">川本哲也</span><br>
                取締役:<span class="ms-3">佐藤保</span>
              </p>
            </span>
          </td>
        </tr>

        <tr>
          <th class="col-md-4">
            <span class="company-label">
              従業員数
            </span>
          </th>
          <td class="col-md-8">
            <span class="company-form">
              30名(パート・アルバイト含む)
            </span>
          </td>
        </tr>

        <tr>
          <th class="col-md-4">
            <span class="company-label">
              事業内容
            </span>
          </th>
          <td class="col-md-8">
            <span class="company-form">
              焼き鳥、飲食店事業
            </span>
          </td>
        </tr>

        <tr>
          <th class="col-md-4">
            <span class="company-label">
              取引銀行
            </span>
          </th>
          <td class="col-md-8">
            <span class="company-form">
              三井住友銀行・京都信用金庫
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<%= render 'public/shared/carrer-contents' %>
