<% set_meta_tags  title: '社長とサシ飯',
                  description: 'LBrestaurant株式会社の公式ホームページ。他の企業にはないLBR独自の制度「社長とサシ飯行きませんか？」店舗に電話して日程を決める！その後、社長と飲み食いしながら、どういう企業なのか、何を目指しているのか、などざっくばらんにお話しください！',
                  canonical: 'https://lbrestaurant.net/lbr/premium/',
                  og: {
                    title: '社長とサシ飯 | LBrestaurant(株式会社)公式サイト(暖簾分け希望者、求職者募集中!)',
                    description: 'LBrestaurant株式会社の公式ホームページ。他の企業にはないLBR独自の制度「社長とサシ飯行きませんか？」店舗に電話して日程を決める！その後、社長と飲み食いしながら、どういう企業なのか、何を目指しているのか、などざっくばらんにお話しください！',
                    type: 'article',
                    url: 'https://lbrestaurant.net/lbr/premium/'
                  }
%>

<%= render partial: 'public/shared/section-title', locals: { section_title: '社長とサシメシ' } %>
<div class="premium-wrap">
  <div class="premium-content">
    <div class="premium-title"><%= image_tag('lbr/premium-title.png', class: 'premium-title-img sm-max-img') %></div>
    <div class="premium-text-box">
      <p>採用フォームからサシ飯を選択してご応募ください！</p>
    </div>
    <i class="fa-solid fa-angles-down"></i>
    <div class="premium-text-box">
      <p>こちらからメールをお送り致しますので、そこで日程を決めます。</p>
    </div>
    <i class="fa-solid fa-angles-down"></i>
    <div class="premium-text-box">
      <p>社長と飲み食いしながらざっくばらんにお話しください！</p>
    </div>
    <div class="premium-link">
      <%= link_to 'サシメシ応募はこちら', new_job_entry_path, class: 'user-btn premium-btn' %>
    </div>
  </div>
</div>
