<% set_meta_tags  title: '体験入店',
                  description: 'LBrestaurant株式会社の公式ホームページ。他の企業にはないLBR独自の制度「体験入店」、実際にお店にアルバイトとして入り、どういう企業なのか、何を目指しているのか、など体験してみてください！',
                  canonical: 'https://lbrestaurant.net/lbr/premium/',
                  og: {
                    title: '体験入店 | LBrestaurant(株式会社)公式サイト(暖簾分け希望者、求職者募集中!)',
                    description: 'LBrestaurant株式会社の公式ホームページ。他の企業にはないLBR独自の制度「体験入店」、実際にお店にアルバイトとして入り、どういう企業なのか、何を目指しているのか、など体験してみてください！',
                    type: 'article',
                    url: 'https://lbrestaurant.net/lbr/premium/'
                  }
%>

<%= render partial: 'public/shared/section-title', locals: { section_title: '体験入店' } %>
<div class="premium-wrap">
  <div class="premium-content">
    <div class="premium-title"><%= image_tag('lbr/premium-title.png', class: 'premium-title-img sm-max-img') %></div>
    <div class="premium-text-box">
      <p>採用フォームから体験入店を選択してご応募ください！</p>
    </div>
    <i class="fa-solid fa-angles-down"></i>
    <div class="premium-text-box">
      <p>こちらからメールをお送り致しますので、そこで日程を決めます。</p>
    </div>
    <i class="fa-solid fa-angles-down"></i>
    <div class="premium-text-box">
      <p>
        実際にお店にアルバイトとして入り、どういう企業なのか体験してみてください！<br>
        仕事の後は、役員と軽くご飯でもいきましょう！
      </p>
    </div>
    <div class="premium-link">
      <%= link_to '体験入店はこちら', new_job_entry_path, class: 'user-btn premium-btn' %>
    </div>
  </div>
</div>
