<%= render partial: 'public/shared/section-title', locals: { section_title: 'ニュース' } %>
<div class="wrap">
  <div class="newsHeaderbox">
    <h1><%= @news.title %></h1>
    <ul>
      <li class="news-show-date"><%= format_date(@news.calendar_date) %></li>
    </ul>
  </div>
  <div class="newsContentbox">
    <p><%=safe_join(@news.body.split("\n"),tag(:br))%></p>
  </div>
</div>

