<h1 class="h1style mb-5rem fw-bold">お知らせ!</h1>
<div class="wrap">
  <div class="newsHeaderbox">
    <h1><%= @news.title %></h1>
    <ul>
      <li class="news-show-date"><%= format_date(@news.calendar_date) %></li>
    </ul>
  </div>
  <div class="newsContentbox">
    <p><%=safe_join(@news.body.split("\n"),tag(:br))%></p>
  </div>
</div>

