<h1 class="h1style mb-5rem fw-bold">会社概要</h1>

<div class="wrap">
  <div class="company-content">
    <div class="table-responsive">
      <table class="table company-table">
        <tr>
          <th class="col-md-4">
            <div class="company-label">
              商号
            </div>
          </th>
          <td class="col-md-8">
            <div class="company-form">
              株式会社LBrestaurant
            </div>
          </td>
        </tr>

        <tr>
          <th class="col-md-4">
            <div class="company-label">
              <p>所在地</p>
            </div>
          </th>
          <td class="col-md-8">
            <div class="company-form">
              <p>
                〒553-0006<br>
                大阪府大阪市福島区吉野３丁目８番３号
              </p>
            </div>
          </td>
        </tr>

        <tr>
          <th class="col-md-4">
            <div class="company-label">
              <p>設立</p>
            </div>
          </th>
          <td class="col-md-8">
            <div class="company-form">
              <p>2022年12月28日 株式会社LBrestaurant</p>
            </div>
          </td>
        </tr>

        <tr>
          <th class="col-md-4">
            <div class="company-label">
              <p>電話番号</p>
            </div>
          </th>
          <td class="col-md-8">
            <div class="company-form">
              <p>06-6459-7396</p>
            </div>
          </td>
        </tr>

        <tr>
          <th class="col-md-4">
            <div class="company-label">
              <p>資本金</p>
            </div>
          </th>
          <td class="col-md-8">
            <div class="company-form">
              <p>500万</p>
            </div>
          </td>
        </tr>

        <tr>
          <th class="col-md-4">
            <div class="company-label">
              <p>役員</p>
            </div>
          </th>
          <td class="col-md-8">
            <div class="company-form">
              <p class="me-5">
                代表取締役<br>
                川本哲也
              </p>
              <p>
                取締役<br>
                佐藤保
              </p>
            </div>
          </td>
        </tr>

        <tr>
          <th class="col-md-4">
            <div class="company-label">
              <p>従業員数</p>
            </div>
          </th>
          <td class="col-md-8">
            <div class="company-form">
              <p>30名(パート・アルバイト含む)</p>
            </div>
          </td>
        </tr>

        <tr>
          <th class="col-md-4">
            <div class="company-label">
              事業内容
            </div>
          </th>
          <td class="col-md-8">
            <div class="company-form">
              焼き鳥、飲食店事業
            </div>
          </td>
        </tr>

        <tr>
          <th class="col-md-4">
            <div class="company-label">
              取引銀行
            </div>
          </th>
          <td class="col-md-8">
            <div class="company-form">
              三井住友銀行・京都信用金庫
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>



