<p>こんにちは、<%= @resource.email %>さん！</p>

<p>誰かがあなたのパスワードを変更するためのリンクをリクエストしました。以下のリンクを使用して変更できます。</p>

<p><%= link_to 'パスワード変更', edit_user_password_url(@resource, reset_password_token: @token) %></p>

<p>このリクエストを行っていない場合は、このメールを無視してください。</p>
<p>上記のリンクにアクセスし、新しいパスワードを設定するまでパスワードは変更されません。</p>

