<h1 class="h1style mb-5rem fw-bold">応募について（完了）</h1>

<div class="wrap">
  <div class="job-entry-content">
    <h3 class="job-entry-title text-center fw-bold">送信が完了いたしました。</h3>
    <p>ご応募ありがとうございます</p>
  </div>
</div>
