<h1 class="h1style mb-5rem fw-bold">よくあるご質問と答え</h1>
<div class="faqs-wrap">
  <div class="faq-border">
    <div class="py-2 d-flex align-items-center">
      <div class="text-center faq-title fw-bold">
        <p>既卒ですが、応募は可能ですか？</p>
      </div>
      <button class="btn btn-toggle d-inline-flex align-items-center" data-bs-toggle="collapse" data-bs-target="#faqDetails1" aria-expanded="false">
        <span class="d-none d-sm-inline">回答</span>
      </button>
    </div>
    <div id="faqDetails1" class="collapse">
      <div class="faq-card">
        <div class="faq-content">
          <div class="d-flex flex-wrap">
            <div class="faq-info">
              <p>もちろん可能です。募集要項をご確認いただき、ぜひご応募ください！</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="faq-border">
    <div class="py-2 d-flex align-items-center">
      <div class="text-center faq-title fw-bold">
        <p>飲食経験や接客経験は必要ですか？</p>
      </div>
      <button class="btn btn-toggle d-inline-flex align-items-center" data-bs-toggle="collapse" data-bs-target="#faqDetails2" aria-expanded="false">
        <span class="d-none d-sm-inline">回答</span>
      </button>
    </div>
    <div id="faqDetails2" class="collapse">
      <div class="faq-card">
        <div class="faq-content">
          <div class="d-flex flex-wrap">
            <div class="faq-info">
              <p>
                飲食経験や接客経験がある方、大歓迎です！経験がない方でも調理・接客の教科書（マニュアル）があり、入社研修もありますのでご安心ください。<br>
                社長も未経験から3年で独立し今に至ります!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="faq-border">
    <div class="py-2 d-flex align-items-center">
      <div class="text-center faq-title fw-bold">
        <p>入社に必要な資格はありますか？</p>
      </div>
      <button class="btn btn-toggle d-inline-flex align-items-center" data-bs-toggle="collapse" data-bs-target="#faqDetails3" aria-expanded="false">
        <span class="d-none d-sm-inline">回答</span>
      </button>
    </div>
    <div id="faqDetails3" class="collapse">
      <div class="faq-card">
        <div class="faq-content">
          <div class="d-flex flex-wrap">
            <div class="faq-info">
              <p>
                特にございません!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="faq-border">
    <div class="py-2 d-flex align-items-center">
      <div class="text-center faq-title fw-bold">
        <p>勤務時間は1日に何時間ですか？</p>
      </div>
      <button class="btn btn-toggle d-inline-flex align-items-center" data-bs-toggle="collapse" data-bs-target="#faqDetails4" aria-expanded="false">
        <span class="d-none d-sm-inline">回答</span>
      </button>
    </div>
    <div id="faqDetails4" class="collapse">
      <div class="faq-card">
        <div class="faq-content">
          <div class="d-flex flex-wrap">
            <div class="faq-info">
              <p>
                1日6~10時間程度です!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


