<%= render partial: 'public/shared/section-title', locals: { section_title: '採用情報' } %>
<div class="job-profile-wrap">
  <div class="job-profile-content">
    <div class="job-profile-title"><%= image_tag('job_entry/profile-title.png', width: '240px', height: '40px') %></div>
    <div class="job-profile-text">
      <p>１つでも当てはまっていたら迷わずご応募ください！</p>
      <p>もしくは<span class="alert-text">見た人特典</span>から、社長と食事しながらざっくばらんに話しましょう！</p>
    </div>
    <div class="job-profile-card">
      <p class="profile-card-text"><i class="fa-regular fa-circle-check alert-text profile-card-icon"></i>チャンスを物にできる人/チャンスを物にできる人になりたい人</p>
      <p class="profile-card-text"><i class="fa-regular fa-circle-check alert-text profile-card-icon"></i>凡事徹底/率先垂範できる人</p>
      <p class="profile-card-text"><i class="fa-regular fa-circle-check alert-text profile-card-icon"></i>言い訳をしない人</p>
      <p class="profile-card-text"><i class="fa-regular fa-circle-check alert-text profile-card-icon"></i>夢がある、もしくは何でもいいから頑張る理由がある人</p>
      <p class="profile-card-text"><i class="fa-regular fa-circle-check alert-text profile-card-icon"></i>サプライズなど人を喜ばすのが好きな人</p>
      <p class="profile-card-text"><i class="fa-regular fa-circle-check alert-text profile-card-icon"></i>料理と接客と経営を全部学びたい人</p>
      <p class="profile-card-text"><i class="fa-regular fa-circle-check alert-text profile-card-icon"></i>1-2年で独立したい人（もっと早くしたい人も可）</p>
      <p class="profile-card-text"><i class="fa-regular fa-circle-check alert-text profile-card-icon"></i>将来起業したい人</p>
      <p class="profile-card-text"><i class="fa-regular fa-circle-check alert-text profile-card-icon"></i>コミュ力に自信あってそれを活かして仕事したい人</p>
    </div>
  </div>
</div>
