<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>（このメールはお問い合わせ確認用に自動的に送信されています）</p>
    <% unless @contact.name.nil? %>
      <p><%= @contact.name %>様</p>
    <% end %>
    <p>この度は、Lbrestaurant株式会社にお問い合わせいただきまして、誠にありがとうございます。</p>

    <p>弊社にて内容を確認のうえ、順次回答させていただきます。</p>
    <p>お急ぎのところ誠に恐れ入りますが、今しばらくお待ちくださいますようお願いいたします。<br> なお、お問い合わせの内容によりましては、回答までにお時間をいただく場合がございます。あらかじめご了承ください。</p>

    <p>ご連絡をいただき、ありがとうございました。</p>
  </body>
</html>
